
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{categories}}</h3>

                <p>Total Categorias</p>
              </div>
              <div class="icon">
                <i class="fas fa-sitemap"></i>
              </div>
              <a routerLink="/categories" class="small-box-footer">Ver Cadastro <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{products}}</h3>

                <p>Total Produtos</p>
              </div>
              <div class="icon">
                <i class="fas fa-tags"></i>
              </div>
              <a routerLink="/products" class="small-box-footer">Ver Cadastro <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{users}}</h3>

                <p>Total Usuários</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
              <a routerLink="/users" class="small-box-footer">Ver Cadastro <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
  </div>
  <!-- /.content-wrapper -->